apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: vllm-queue-scaler
  namespace: default
spec:
  scaleTargetRef:
    name: vllm
  minReplicaCount: 1
  maxReplicaCount: 10
  pollingInterval: 10
  cooldownPeriod: 30
  triggers:
  - type: kedify-otel
    metadata:
      scalerAddress: 'keda-otel-scaler.keda.svc:4318'
      metricQuery: 'sum(vllm_num_requests_waiting{app=vllm})'
      targetValue: '1'
      clampMin: '0'
      clampMax: '500'
      operationOverTime: 'last_one'
  advanced:
    horizontalPodAutoscalerConfig:
      behavior:
        scaleDown:
          stabilizationWindowSeconds: 30
        scaleUp:
          stabilizationWindowSeconds: 10
    scalingModifiers:
      formula: 'clamp_min(current_queue * 50, 1)'
      target: '50'
