apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      serviceAccountName: api
      nodeSelector:
        intent: apps
      containers:
      - name: api
        image: 889947746832.dkr.ecr.eu-west-1.amazonaws.com/ai-workloads-tube-demo/api:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: VLLM_ENDPOINT
          value: "http://vllm-service:8000"
        - name: DEMO_MODE
          valueFrom:
            configMapKeyRef:
              name: api-config
              key: DEMO_MODE
        - name: SESSION_CODE
          valueFrom:
            configMapKeyRef:
              name: api-config
              key: SESSION_CODE
              optional: true
        - name: AWS_REGION
          value: "eu-west-1"
        - name: PROJECT_NAME
          value: "ai-workloads-tube-demo"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: api-config
  namespace: default
data:
  DEMO_MODE: "quiz"
  SESSION_CODE: "DEFAULT"
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: default
spec:
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    app: api
