apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: efs-models-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 100Gi  # EFS is elastic, this is just a label
  volumeName: efs-models-pv
